* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}
/*HEADER DO SITE*/
header {
  width: 100%;
  height: clamp(95px, 12vw, 120px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: rgb(59, 16, 4);
}
.icons {
  filter: invert(100%);
  height: auto;
  width: clamp(1.5rem, 4vw, 2.5rem);
  flex: 0 0 auto;
}
.input_titulo {
  height: 100%;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.titulo_principal {
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: white;
  text-wrap: nowrap;
}
.filtro {
  border-radius: 40px;
  height: clamp(32px, 4vw, 48px);
  width: 100%;
}
.filtro::placeholder {
  text-align: center;
}
/*PARTE DE ADICIONAR OS LIVROS*/
main {
  height: 100%;
  position: relative;
  top: clamp(95px, 12vw, 120px);
}
.livros_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px;
}
#btn_criar {
  width: 30%;
  height: clamp(320px, 20vh);
  font-size: clamp(2rem, 5vw, 3.5rem);
  border-radius: 20px;
  border: 10px dashed grey;
}
.card {
  width: 30%;
  height: clamp(320px, 20vh);
  background-color: aliceblue;
  border-radius: 20px;
  border: 5px solid rgb(255, 0, 0);
}
@media (min-width: 1199px) {
  .card {
    width: 19%;
  }
  #btn_criar {
    width: 19%;
  }
}
@media (min-width: 1919px) {
  .card {
    width: 15%;
  }
  #btn_criar {
    width: 15%;
  }
}
.capa {
  width: 100%;
  height: 70%;
}
img.capa {
  height: 100%;
  object-fit: contain;
}
.conteudo {
  width: 100%;
  height: 30%;
}
