* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --marrom_padrao: rgb(59, 16, 4);
  --marrom_meio: #3a1a09;
  --verde: #385826;
  --verde_meio: #4d7036;
  --verde_padrao: #618756;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--marrom_meio);
  display: flex;
  flex-direction: column;
}
/*HEADER DO SITE*/
header {
  width: 100%;
  height: clamp(95px, 12vw, 120px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: var(--marrom_padrao);
  box-shadow: 0px 5px 20px black;
}
.icons {
  filter: invert(100%);
  height: auto;
  width: clamp(1.5rem, 4vw, 2.5rem);
  flex: 0 0 auto;
}
.input_and_titulo {
  height: 100%;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.titulo_principal {
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: white;
  white-space: nowrap;
}
.filtro {
  border-radius: 40px;
  height: clamp(32px, 4vw, 48px);
  width: 100%;
}
.filtro::placeholder {
  text-align: center;
}
/*PARTE DE ADICIONAR OS LIVROS*/
main {
  width: 100%;
  height: 100%;
  margin-top: clamp(95px, 12vw, 120px);
  padding: 20px;
  overflow-y: auto;
}
.livros_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
#btn_criar {
  width: 30%;
  font-size: clamp(2rem, 5vw, 3.5rem);
  border-radius: 20px;
  border: 10px dashed grey;
  aspect-ratio: 2 / 4;
}
#btn_criar:hover {
  transform: scale(1.01);
}
.card {
  width: 30%;
  background-color: aliceblue;
  border-radius: 20px;
  border: 5px solid rgb(255, 0, 0);
  aspect-ratio: 2 / 3;
  overflow: hidden;
}
@media (min-width: 899px) {
  .card {
    width: 19%;
  }
  #btn_criar {
    width: 19%;
  }
}
@media (min-width: 1919px) {
  .card {
    width: 15%;
  }
  #btn_criar {
    width: 15%;
  }
}
.capa {
  width: 100%;
  height: 70%;
  aspect-ratio: 2 / 3;
}
img.capa {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.conteudo {
  width: 100%;
  height: 30%;
}

/*Pop up de criação de card*/

.div_cadastrar_livro {
  /*tamanho*/
  height: 70%;
  width: 90%;

  /*posição do fundo pop up*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /*estilo*/
  background-color: var(--marrom_padrao);
  border: 5px solid black;
  border-radius: 40px;
  box-shadow: 10px 10px 7px black;

  overflow: hidden scroll;

  display: none;
}
.form_cadastrar_livro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  color: white;
}
.btn_fechar {
  font-size: clamp(2rem, 5vw, 3.5rem);
  align-self: flex-end;
}
/*input invisivel*/
.input_capa {
  display: none;
}
.btn_cadastrar_capa {
  width: 60%;
  aspect-ratio: 2 / 3;
  font-size: clamp(4rem, 10vw, 7rem);
  border-radius: 20px;
  border: 10px dashed grey;

  /*centralizar simbolo de +*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview_capa {
  width: 100%;
  aspect-ratio: 2 / 3;
}
.arquivo_escolhido {
  width: 60%;
  text-align: center;
  font-size: 2rem;
}
.labels_and_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_infos {
  height: 3rem;
  width: 60%;
  border-radius: 20px;
}
.input_infos::placeholder {
  text-align: center;
}
.btn_cadastrar_livro {
  width: 40%;
  height: 5em;
  font-size: large;
  border-radius: 50px;
  align-self: flex-end;
  border: 20px outset;
}

footer {
  width: 100%;
  height: clamp(300px, 25vw, 420px);
  background-color: var(--marrom_padrao);
  align-self: flex-end;
}
.